label {
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 10px;
}

button {
    background-color: pink;
}
#button:hover {
    background-color: lightslategray;
}

.listGroup.item {
    padding: 10px;
    background-color:aliceblue;
}