label {
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 10px;
}

.btn-dark {
    background-color:rgb(71, 80, 90);
    border-color: rgb(71, 80, 90);
}

.btn-dark:hover {
    background-color: lightslategray;
    border-color: lightslategray;
}

.custom-list-item {
    margin-bottom: 15px;
    border-radius: 7px;
    background-color: rgb(240, 260, 255);
    border-color: rgb(240, 260, 255);
}

.custom-list-item h5 {
    padding: 7px;
    border-radius: 7px;
    background-color: lightslategray;
}