.home-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(240, 248, 255, 0.57);
}

.feature-section {
    margin-top: 50px;
}

.feature-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.feature-section p {
    font-size: 1.2rem;
}

.custom-btn {
    margin: 0 10px;
    background-color:lightslategray;
    color:black;
    border-color:lightslategray;
    font-family: 'Courier New', Courier, monospace;
}

.custom-btn:hover {
    background-color:teal;
    border-color:slategray;
}
