.site-header{
    background-color: teal;
}
.site-header ul{
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 0;

}

.site-header li{
    padding: 5px;
    color:black;
    font-family: Tahoma (sans-serif);
}

h1{
    color: teal;
}